body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2{
  font-size: 35px;
}
.color-orange {
  color: orange;
}
.flexiable-container{
  display: flex;
  margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left:3% ;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
  background-image: url(./image/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big{
  background-image:url(./image/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experences-banner{
  background-image: url(./image/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;

}
.experience-item{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 40px;
  border-radius:10px;
  box-shadow: 10px 10px 40px gray
}
#full-stack-experience{
  border-left:7px solid;
  border-image: linear-gradient(#f6b73c, #ca57b7);
  border-image-slice: 1;

}
#wev-dev-experience{
border-left:7px solid;
border-image: linear-gradient(#9ec438, #6d79bb) 30;
border-image-slice: 1;
}
footer p{
  text-align: center;
}